<!-- Profile Section -->
<div class="container vh-99 bg-dark text-white " style="margin-top: 10vh;" data-aos="fade-up">
  <div class="row">
    <div class="col-sm-4 d-flex flex-column align-items-center text-center">
      <img src="assets/2206.jpg" class="rounded-circle border border-2 border-white" style="width: 50%; height: auto;">
      <h3 class="mt-2">Abdul Ahad</h3>
      <a class="text-white fw-bold text-decoration-none">Bubble.io Developer</a>
      <h6 class="mt-4">19 June 2006</h6>
      <a class="text-white text-decoration-none">ahadchaudhary2004&#64;gmail.com</a>
      <button class="mt-4 pt-2 pb-2 px-4 rounded-3" style="background-color: #6839FF; color: white; border: none;">Download CV</button>
    </div>

    <div class="col-sm-8 d-flex flex-column pt-2 mt-5">
      <p>Hello Everyone👋</p>
      <h1 class="fw-bold">I Will <span style="color: #6839FF;">Develop</span> Your Idea And <br> Bring Your <span style="color: #6839FF;">Product</span> To Life.</h1>
      <h6 class="pt-2" style="line-height: 1.8;">
       <b>No-code & Frontend Developer</b> skilled in building powerful apps using <b>Bubble.io</b> — from MVPs and SaaS platforms to progressive web apps.
Also experienced with <b>HTML, CSS, Bootstrap, and Angular</b> to create responsive, user-friendly interfaces.
Let’s turn your idea into a fully functional product!
      </h6>
    </div>
  </div>
</div>

<!-- Skills Section -->
<div class="container bg-dark text-white py-5 " style="margin-top: 10vh;" data-aos="fade-up">
  <div class="row">
    <div class="col-sm-4 d-flex flex-column align-items-center text-center">
      <h4 class="fw-bold">I Can Help You With</h4>
    </div>
  </div>

  <div class="row justify-content-around mt-5" >
    <div class="col-sm-10 d-flex flex-wrap justify-content-center align-items-center text-center">
      <!-- Skill Cards -->
      <div class="card mb-3 mx-2 mt-4 bg-secondary text-white" style="width: 13rem;" >
        <img class="card-img-top" src="assets/skill1.png" alt="Interface Design"  style="aspect-ratio: 1/1;" >
        <div class="card-body">
          <h6 class="card-text">Interface Design</h6>
        </div>
      </div>

      <div class="card mb-3 mx-2 mt-4 bg-secondary text-white" style="width: 13rem;">
        <img class="card-img-top" src="assets/skill2.png" alt="Logo Design">
        <div class="card-body">
          <h6 class="card-text">API Integration</h6>
        </div>
      </div>

      <div class="card mb-3 mx-2 mt-4 bg-secondary text-white" style="width: 13rem;">
        <img class="card-img-top" src="assets/skill3.png" alt="Frontend Development">
        <div class="card-body">
          <h6 class="card-text">Custom Code</h6>
        </div>
      </div>

      <div class="card mb-3 mx-2 mt-4 bg-secondary text-white" style="width: 13rem;">
        <img class="card-img-top" src="assets/skill4.png" alt="Database Structuring" style="aspect-ratio: 1/1;">
        <div class="card-body">
          <h6 class="card-text">Database Structuring</h6>
        </div>
      </div>
    </div>
  </div>
</div>
